<div class="tito_login">
  <div class="row">
    <div class="col-xs-8 offset-sm-2">
      <form (ngSubmit)="login()">
        <div class="row">
          <div class="col-xs-4 text-xs-right">Username:</div>
          <div class="col-xs-4 no-gutters">
            <input #username type="email" name="email" placeholder="email" [(ngModel)]="currentSausage.email" tabindex="1"/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 text-xs-right">Password:</div>
          <div class="col-xs-4">
            <input type="password" name="password" placeholder="password" [(ngModel)]="currentSausage.password" tabindex="2"/>
          </div>
          <div class="col-xs-4">
            <a href="???" tabindex="4">Forgot your password?</a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 offset-sm-4">
            <button class="btn btn-primary float-xs-right" type="submit" tabindex="3">Login</button>
          </div>
          <div class="col-xs-4">
            <input type="checkbox" name="remember" [(ngModel)]="rememberMe" tabindex="5"/>Remember Me
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
